<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Audio Steganography</h1>
        <div class="link-container">
            <a href="{{ url_for('encode_audio') }}" class="action-link">Encode</a>
            <a href="{{ url_for('decode_audio') }}" class="action-link">Decode</a>
        </div>
    </div>
</body>
</html>
